{% extends '/dashboard/dashboard_base.html' %}
{% set profile_settings_active = True %}
{% block head %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            var url = "{# { url_for('something') } #}"; // send the form data here.
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data) // display the returned data in the console.
                }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });
        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{#{ form.csrf_token._value() }#}")
                }
            }
        })
    });
</script>
{% endblock head %}
{% block dashboard_body %}
<section>
    <h1 class="title">Profile Settings</h1>
    <span>
        form goes here nibba
    </span>
</section>
{% endblock dashboard_body %}