{#
Title = Title of the Message Box
Text = Text inside the Message Box
Color = Bulma Color Type of the Message Box    
#}
{% macro flash(title, text, color) -%}
<article class="message is-small {{ color }}">
    <div class="message-header">
        <span class="fas fa-exclamation-triangle"></span>
        {{ title }}
        <button id="message-box-delete" class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
        {{ text }}
    </div>
</article>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    {% if title %}
    <title>{{ title }} - Xevion.dev</title>
    {% else %}
    <title>Xevion.dev</title>
    {% endif %}
    {% endblock %}
    {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style type="text/css">
        /* Single line word breaking for content */
        .word-break {
            word-wrap: break-word;
        }

        .raleway-font {
            font-family: 'Raleway', sans-serif;
            font-size: 1.75rem;
        }

        .is-vertical-center {
            vertical-align: middle;
            padding: 1rem;
        }
    </style>
    {% endblock head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-divider@2.0.1/dist/css/bulma-divider.min.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item raleway-font" href="{{ url_for('index') }}">
                Xevion
            </a>

            <a role="button" id="navbar-burger-id" class="navbar-burger burger"
                onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');" aria-label="menu"
                aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar-menu-id" class="navbar-menu">
            <div class="navbar-start">
                {% block navbarstart %}
                <a href="{{ url_for('index') }}" class="navbar-item">Home</a>
                {% endblock navbarstart %}
            </div>

            <div class="navbar-end">
                {% block navbarend %}
                <div id="navbar-dropdown" class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-mobile">
                        <figure style="padding: 0.5rem;" class="image is-48x48">
                            {% set default = 'https://via.placeholder.com/256' %}
                            <img class=""
                                src="{{ current_user.profile_picture or default if current_user.is_authenticated else default }}">
                        </figure>
                        <strong>
                            Hello, {{ current_user.username if current_user.is_authenticated else 'Anonymous' }}
                        </strong>
                    </a>

                    <div class="navbar-dropdown">
                        {% if current_user.is_authenticated %}
                        {# <a class="navbar-item" href="{{ url_for('profile') }}">
                            Profile
                        </a> #}
                        <a class="navbar-item" href="{{ get_hidden() }}">
                            Hidden
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{{ url_for('logout') }}">
                            Logout
                        </a>
                        {% else %}
                        <a class="navbar-item" href="{{ url_for('login') }}">
                            Login
                        </a>
                        <a class="navbar-item" href="{{ url_for('register') }}">
                            Register
                        </a>
                        {% endif %}

                    </div>
                </div>
                {% endblock navbarend %}
            </div>
        </div>
    </nav>

    {% block body %}

    {% endblock body %}

</body>