{% extends 'base.html' %}
{% block body %}
<!-- Hero Section -->
<section class="hero is-fullheight-with-navbar is-danger">
	<div class="hero-body">
		<div class="container has-text-centered">
			<p class="title">
				{{ code if code is not none else 'Error' }}
			</p>
			<p class="subtitle"> 
				{{ message if message is not none else 'Error encountered' }} <em href="{{ url if url is not none else url_for('index') }}">{{ url_message if url_message is not none else 'Go home?' }}</em>
			</p>
		</div>
	</div>
</section>
<!-- End Hero Section -->
{% endblock body %}