{% extends 'base.html' %}
{% block body %}

<section class="section section-padding">
    <div class="container">
        <div class="columns is-mobile is-multiline is-centered">
            <!-- Options Card -->
            <div class="column is-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title">
                            {{ username }}'s Profile
                        </div>
                    </div>
                    <div class="card-content">
                    </div>
                </div>
            </div>
            <!-- End Options Card -->
        </div>
        <!-- Card Column Content -->
    </div>
</section>

{% endblock body %}}